# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/.yarn/*
!server/.yarn/cache
!server/.yarn/patches
!server/.yarn/plugins
!server/.yarn/releases
!server/.yarn/sdks
!server/.yarn/versions
!server/.yarn/unplugged



client/node_modules/*

client/.yarn/*
!client/.yarn/cache 
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/sdks
!client/.yarn/versions
!server/.yarn/unplugged

# testing
/coverage

# production
/server/src/views/

# misc
*.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# log
server/logs/*